# Web Framework
Django>=4.2,<5.0

# Data Processing
pandas
numpy
matplotlib

# API and Data Fetching
requests
yfinance
requests-cache
requests-ratelimiter
pyrate-limiter

# Testing
pytest
pytest-cov
urllib3